<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../templates/header")%>
        <script src="/js/datatables-demo.js" defer></script>
    </head>
    <body class="sb-nav-fixed">
        <%- include("../templates/top_navbar")%>
        <div id="layoutSidenav">
            <%- include("../templates/side_navbar")%>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Top K - Triplet de Hashtags</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Vue global - Mois de mars 2020</li>
                        </ol>
                        
                            <div class="col-xl-12">
                            <% if(waiting){ %>
                                <%- include("../templates/waiting")%>
                            <%}else{%>
                                <%- include("../templates/topk/hashtag_triplet_table")%>
                            <%} %>
                                
                            </div>
                        
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <%- include("../templates/footer")%>
                </footer>
            </div>
        </div>
    </body>
</html>